{% extends 'menu.html' %}
{% load static %}

{% block title %} Compras{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/compras.css' %}">
{% endblock %}
{% block content %}
<body>
    <div class="columna_izquierda">
        <b>Proveedor: </b>
        <form id="Proveedor" action="{% url 'seleccionar_proveedor' %}" method="POST"> 
            {% csrf_token %}
            {{formulario_compra.proveedor}}
            <button type="submit">Seleccionar</button>
        </form>
           
        <h2><center>Lista de productos de {{nombre_proveedor}} </br> ID:{{formulario_compra.instance.proveedor.id}}</center></h2>
        <table border="1" style="width: 100%; table-layout: fixed;">
            <tr>
                <th>Nombre Producto</th>
                <th>Precio Compra</th>
                <th>Cantidad</th>
            </tr>
            <tbody>
                {% for elemento in lista_productos_proveedor %}                
                    <tr>
                        <td>{{ elemento.producto.nombre }}</td>
                        <form action="{% url 'agregar_producto_compra' elemento.producto.id %}" method="POST">
                            {% csrf_token %}
                            <td class="producto_comprado">{{formulario_comprado.precio_de_compra}}</td>
                            <td class="producto_comprado">{{formulario_comprado.cantidad}}</td>
                            <td><button type="submit" style="width: 100%;">Agregar</button></td>
                        </form>
                    </tr>  
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="columna_derecha">
        <b>Fecha: </b>{{formulario_compra.instance.fecha_compra}} <br>
        <b>Proveedor: </b>{{compra.proveedor}} <br> 
        <form id="Formulario" action="{% url 'confirmar_compra' %}" method="POST">
            {% csrf_token %}
            <h4>Método de Pago: {{formulario_compra.metodo_pago}}</h4>
        </form>
      
        <h2><center>COMPRA REALIZADA Nº {{compra.id}}</center></h2>
        <table border="1" style="width: 100%;">
            <tr>
                <th>Nombre Producto</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
                <th>Acciones</th>
            </tr>
            <tbody>
                {% for producto in lista_compra %}            
                    <tr>
                        <td>{{producto.producto.nombre}}</td>
                        <td>{{producto.cantidad}}</td>
                        <td>{{producto.precio_de_compra}}</td>
                        <td>
                            <form action="{% url 'eliminar_producto_compra' producto.producto.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit">Eliminar</button>
                            </form>
                        </td>
                    </tr>  
                {% endfor %}    
            </tbody>
        </table>
        <center>
            <h3>Total= ${{compra.total}}</h3>    
            <button id="Boton">Confirmar Compra</button>
        </center>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var formulario = document.getElementById('Formulario');
            var boton = document.getElementById('Boton');
    
            boton.addEventListener('click', function() {
                formulario.submit();
            });
        });
    </script>     
</body>
{% endblock %}
